[submodule "externals/geoext"]
	path = externals/geoext
	url = https://github.com/geosolutions-it/geoext.git
[submodule "externals/openlayers"]
	path = externals/openlayers
	url = https://github.com/geosolutions-it/openlayers.git
[submodule "externals/ringo"]
	path = externals/ringo
	url = git://github.com/ringo/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/geosolutions-it/buildkit.git
[submodule "externals/PrintPreview"]
	path = externals/PrintPreview
	url = git://github.com/opengeo/PrintPreview.git
[submodule "externals/DimensionManager"]
	path = externals/DimensionManager
	url = https://github.com/geosolutions-it/openlayers.git
[submodule "externals/TimeManager"]
    path = externals/TimeManager
	url = git://github.com/mpriour/TimeManager_OpenLayers-Addin.git