.aoi-fields{
    margin-left: 15%;
    margin-right: 10%;
}
.spatial-cell{
    text-align: center;
}
.aoi-button{
    background-image: url(img/silk/shape_square.png) !important;
}

.icon-attribute-appl{
	background-image: url(img/silk/shape_square.png) !important;
}

.icon-reload-layers{
	background-image: url(img/silk/layers.png) !important;
}

.icon-attribute-apply{
	background-image: url(img/accept.png) !important;
}

.icon-attribute-reset{
	background-image: url(img/decline.png) !important;
}

.icon-attribute-add{
	background-image: url(img/silk/add.png) !important;
}

.spm-create-button {
	background-image: url(img/geosilk/cursor.png) !important;
}

.spm-list-show{
	background-image: url(img/silk/application_view_columns.png) !important;
}

.spm-btn-bottom {
	position: relative;
	top:5px;
	padding:5px;
}

.spm-center  {
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
}